@import '../../core';


.footer {
    // background-color: $green02;
    border-top: 1px solid $grey-04;
    color: $white-01;
    // margin-top: 50px;
    height: 100px;

    h2 {
        @include logoFont
    }
    
    a {
        font-size: 0.85rem;
        font-weight: 300;
        opacity: 0.5;
        transition: all 0.25s ease-out;

        &:hover {
            opacity: 0.9;
            // font-weight: 600;
        }
    }

    h3 {
        // padding-bottom: 10px;
        color: $white-01;
        font-size: 1.1rem;
        opacity: 0.9;
    }
  
    .footerLinksContainer {
        max-width: $maxPageWidth;
        margin: 0 auto;
        height: inherit;
        @include flex-center;
        justify-content: space-between;

        div, ul {
            margin: 0 32px;

            li {
                margin-bottom: 0;
            }
        }
    }
  
    .footerLinkList {
        padding: 0;
        text-align: left;
        @include flex-center;
        justify-content: flex-start;


        li {
            margin-right: 32px;
        }
    }


}



@media only screen and (max-width: 950px) {
    footer.footer {
        height: unset;

        .footerLinksContainer {
            flex-direction: column-reverse;

            div {
                margin: 16px auto;
            }
        }

        .footerLinkList {
            flex-direction: column;
            margin: 32px;
            width: 100%;

            li {
                margin: 0 auto;
                padding: 16px 0;
                width: 100%;
            }
        }
    }
}