@import '../../core';

// ----------- layout/hero ----------- //

// VARIABLES

// STYLES

.hero {
    @include centerAll;
    // height: 80vh;
    height: 40vh;
    min-height: 250px;
    // min-height: 500px;
    // made same as mini hero for now
    width: 100%;  

    .logoFont {
        background-color: $dark-overlay-1;
        padding: 5px 12px;
        margin: 0 5px;
    }
    
    .contentContainer {
        @include centerAll;
    }

    button {
        width: fit-content;
        margin: auto;
    }
    
}


  