@import '../../core';

// ----------- layout/hero ----------- //

// VARIABLES

// STYLES

.hero {
    @include centerAll;
    height: 40vh;
    // min-height: 500px;
    width: 100%;  

    .logoFont {
        background-color: $dark-overlay-1;
        padding: 5px 12px;
        margin: 0 5px;
    }
    
    .contentContainer {
        @include centerAll;
    }

    button {
        width: fit-content;
        margin: auto;
    }

    .headline {
        background-color: $dark-overlay-3;
        border-radius: $borderRadius01;
        padding: 5px 12px;
        margin: 0 5px;
      }
    
}


  