@import '../core';

.playerData {
    @include flex-center-col;
    justify-content: flex-start;
    height: fit-cotent;
    min-height: 110vh;
    padding: 0 16px 32px;
    width: 95vw;
    max-width: $maxPageWidth;
    box-shadow: $shadow01;
    border-radius: 5px;
    background: $dark-overlay-1;
    margin-bottom: 50px;

    h5 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.95rem;
        line-height: 170%;
        text-align: center;
        margin: 32px auto 32px;
    }

    h3 {
        background: $dark-overlay-4;
        margin: 0;
        padding: 12px 20px;
        border-radius: 5px 5px 0 0;
        margin-top: 16px;
    }

    .playerLoadOverlay {
        background-color: $grey-02;
        border-radius: $borderRadius01;
        z-index: 100;
        @include centerAll;
        height: 110vh;
        width: 95vw;
        position: absolute;
    }
}

.dataTableContainer {
    @include centerAll;
    place-content: normal;
    // max-height: 120vh;
    // min-height: 300px;
    width: 95%;
    max-width: 1500px;
    // min-width: 500px;
    margin: 0 auto;    
    background: $dark-overlay-2;
    box-shadow: $shadow02;
    border: 1px solid $grey-03;
    border-radius: $borderRadius01;
}


// ----------- MOBILE STYLES ----------- //
@media only screen and (max-width: 950px) {
    .playerData {
        padding: 0 0 32px;
        min-height: unset;

        h5 {
            margin: 8px 8px 16px;
            border-radius: $borderRadius01;
        }

        .dataTableContainer {
            width: 98%;
        }

        .playerLoadOverlay {
            position: fixed;
            bottom: 0;
            height: calc(100% - 60px);
            width: 100vw;
            display: grid;
            place-content: center;
        }    
    }


}