@import './core';

///////////////////// FONT IMPORTS /////////////////////
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap');



///////////////////// STYLES /////////////////////
html, body {
    @include bodyFont1;
    color: $white-01;
}

h1, h2, h3, h4, h5, h6 {
    @include headerFont1;
    letter-spacing: -0.5px;
    font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  @include logoFont;
}

h3 {
  @include logoFont;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

p {
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  font-weight: 300;
  line-height: 180%;
  margin: 12px 0 32px;

}

p > a {
  background-color: $dark-overlay-3;
  padding: 2px 6px;
  font-weight: 500;
}

ol, ul {
  margin: 24px 0;

  li {
    line-height: 200%;
    font-weight: 300;
    font-size: 0.95rem;
    margin-bottom: 18px;
  }
}

.MuiTypography-root, .MuiFormLabel-root, .MuiFormControl-root {
  @include headerFont1;
  letter-spacing: 0.2px;
}

a.btn {
  height: inherit;
  width: inherit;
  @include centerAll;
}

.subtext {
  font-size: 85%;
  font-style: italic;
  font-weight: 300;
  margin: 1rem 0;
  display: inline-block;
}

.logoFont {
    @include logoFont;
    letter-spacing: -0.6px;
}

.warning {
  font-size: 110%;
  font-weight: 400;
  margin: 1rem 0;
  display: inline-block;
  color: $red-03;
}