@import './core';
@import './typography';

.mobileCover, .underConstruction {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 200;
  background-color: $grey-01;
  @include centerAll;
  display: none;
  padding: 20vh 10vw;
}

.underConstruction {
  display: grid;
}

// @media only screen and (max-width: 950px) {
  // .mobileCover {
  //   display: grid;
  // }

  // body {
  //   position: fixed;
  // }
// }

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $dark-bg;
  overflow-x: hidden;
}

body { overflow: hidden; } // not sure... this solved a weird scrolling issue?

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s, opacity 0.5s linear;
}

.answerHidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  transition: opacity 0.3s ease-out;
}

.marginAuto {
  margin: auto;
}

.spacer50 {
  height: 50px;
  width: 100%;
}

// ----------------- GENERAL STYLING...? ----------------- //

// ----------- IMAGES ----------- //
.img-container {
  @include centerAll;
  overflow: hidden;
  // background-color: $blue01;

  img {
    width: 100%;
    // max-width: 120%;
    height: auto;
    // max-height: 120%;
  }
}

.text-logo-container {
  @include centerAll;
}

#dataTableAnchor {
  position: relative;
  top: -100px;
}


.buymeacoffee {
  // @include centerAll;
  position: fixed;
  bottom: 3vw;
  right: 2vw;
  
  border-radius: 100px;
  background: $white-bg;
  border: 1px solid #f5da2c;
  height: 60px;
  width: 60px;
  padding: 8px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    background: $grey-02;
  }

  .img-container {
    height: 47px;
    position: relative;
    top: -2px;
  }

  img {
    height: inherit;
    min-width: unset !important;
    width: auto !important;
    // width: inherit;
  }
}
.MuiButton-contained, .MuiButton-outlined  {
  padding: 12px 16px !important;
  transition: all 0.5s ease !important;
  min-width: 130px !important;
  height: 40px !important;
  font-weight: 400 !important;
  letter-spacing: 1.2px !important;
  font-size: 0.75rem !important;
  color: white !important;
}

.MuiButton-contained {
  background-color: $blue-01b !important;
  border: 1px solid $blue-01b !important;

  &:hover {
    // border: 1px solid $blue-02 !important;
    background-color: $dark-overlay-1 !important;
  }
}

.MuiButton-outlined {
  background-color: unset !important;
  border: 1px solid $grey-04 !important;

  &:hover {
    background-color: $grey-04 !important;
    border-color: $grey-04 !important;
  }
}

section.copySection {
  width: 60vw;
  min-width: 300px;
  max-width: 900px;
}

button.setLSbtn {
  margin-bottom: 32px;
}

.flexCenterRow {
  @include flex-center;
}

.flexCenterCol {
  @include flex-center-col;
}



// ----------------- COMPONENTS STYLING...? ----------------- //
// ----------- layout/navbar ----------- //

// VARIABLES
$navHeight: 80px;


.navbar {
  background: $grey-01;
  height: $navHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  @include logoFont;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 9;

  width: 100vw;

  .inner-section {
    max-width: $maxPageWidth;
    margin: 0 auto;

  }

  ul, li {
    margin: 0;
  }  

  .navBurger {
    height: 60px;
    width: fit-content;
    margin: auto;
    margin-right: 0;
    display: grid;
    place-content: center;
    cursor: pointer;

    display: none;

    svg {
      font-size: 40px;
      // transition: all 0.15s ease-out;

      &.hideIcon {
        display: none;
      }
    }
  }

  .subNav-menu {
    position: fixed;
    top: 60px;
    width: 100%;
    left: 0;
    padding: 0 3vw;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: $grey-02;

    .subNav-item {
      @include flex-center-col;
      justify-content: flex-start;
      width: 27vw;
      min-width: 80px;
      max-width: 150px;
      padding: 4px 8px;
      height: 50px;
      transition: all 0.2s ease-out;
      cursor: pointer;

      &:hover {
        background-color: $blue-03;
        // color: black;
      }

      & > a {
        height: inherit;
        @include flex-center-col;
        justify-content: flex-start;
      }

      svg {
        font-size: 26px;
      }
      span {
        font-size: 10px;
        line-height: 140%;
        margin-top: 2px;
      }
    }
  }

  .subMenu {
    position: absolute;
    top: 80px;
    width: 200px;
    background-color: $grey-01;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0 0 $borderRadius01 $borderRadius01;
    color: $white-01 !important;

    display: none;

    &.active {
      display: inline-block;
    }

    .subMenu-item {
      transition: all 0.2s ease-out;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: $grey-02;
      }


      a {
        min-height: 70px;
        width: 100%;
        line-height: 140%;
      }
    }
  }
}

.navbar-container {
  height: 100%;
  width: 90vw;
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  @include flex-center;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  height: $navHeight;
  position: relative;
  left: 20px;
}

.nav-item {
  height: inherit;
  @include center-onlyY;
  position: relative;
  padding: 0 20px;
  // background-color: $green03;
  transition: all 0.2s ease-out;
  min-width: 120px;
  font-size: 1.05rem;
  font-weight: 600;

  &:hover {
    background-color: $white-01;
    color: $dark-bg;
    cursor: pointer;
  }
}

h1.logoFont {
  cursor: pointer;
}

.tableLegend {
  max-width: 1000px;
  overflow: hidden;

  h4 {
    padding: 16px 32px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: $dark-overlay-2;
    }
  }

  ul {
    margin: 0 0 16px;

    height: 0;
    margin: 0;
    opacity: 0;
    transition: all 0.3s ease-out;

    &.active {
        height: fit-content;
        margin: 0 0 50px;
        opacity: 1;
      }

    li {
      font-size: 12px;
      margin-bottom: 0;  
    }
  }

  p {
    font-size: 0.8rem;
    margin: 0;
  }
}


.homeCtaContainer {
  margin: 50px 0 32px;
  width: 500px;
  display: grid;
  place-content: center;
  padding: 32px 0;
  border-radius: 5px;
  background-color: $dark-overlay-1;
  transition: all 0.2s ease-out;

  &:hover {
    box-shadow: $shadow01;
  }

  button {
    margin: 0;
    // box-shadow: $shadow01;
  }
}


// ----------- setLeagueSettings.js ----------- //
// VARIABLES
$modalHeight: 90vh;
$modalWidth: 90vw;
$modalMaxWidth: 800px;

.MuiBox-root {
  width: $modalWidth;
  max-width: $modalMaxWidth;
  margin: auto;
}

.MuiBackdrop-root {
  background-color: rgba(0,0,0,0.9);
}

.ls-modal {
  height: $modalHeight;
  margin: calc((100vh - $modalHeight) / 2) auto;
  width: $modalWidth;
  max-width: $modalMaxWidth;
  box-shadow: $shadow01;
  border-radius: $borderRadius01;
  // border: 10px solid $dark-overlay-1;
  background: $grey-01;
  @include centerAll;
  place-content: normal;
  padding: 32px 50px;

  p {
    font-size: 0.8rem;
    width: 60%;
    margin: 0 auto 20px;
  }

}

span.closeBtn {
  position: relative;
  background: $dark-overlay-1;
  width: fit-content;
  right: -94%;
  padding: 5px;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    background: $dark-overlay-2;

  }
}

.ls-modal-content {
  height: 100%;
  width: 100%;
  @include centerAll;
  place-content: normal;
  overflow-y: scroll;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ls-form {
  @include centerAll;
  padding: 0 0 20px;
  // border: 1px solid $grey-05;
  // border-radius: $borderRadius01;

  h3 {
    margin: 40px auto 20px;
    width: fit-content;

    &:first-child {
      margin-top: 0;
    }
  }

  #section_1 {
    flex-direction: column;

    .mui_select {
      margin-top: 24px;

      &:first-child {
        margin: 0;
      }

      &.leagueTeamSelect .MuiInputBase-root {
        width: 80px;
      }
    }
  }

  #section_2 {
    width: 66vw;
    max-width: 600px;

    .mui_select {
      margin: 8px 16px 16px;
    }
  }

  #section_3 {
    .formControlGroup {
      grid-gap: 32px;
      margin: 8px 0 16px;
    }
  }

}

.form_group_container {
  @include flex-center;
  flex-wrap: wrap;
  margin: auto;

  &.select-container {

    .mui_select {
      min-width: 70px;
      margin-right: 24px;
      margin-bottom: 12px;
      text-align: left;
    }
  }

  // Styling all MUI inputs
  .mui_select, .mui_textfield, .MuiSelect-select, .MuiTextField-root {
    color: $white-01;

    .MuiInputBase-root {
      background-color: $dark-overlay-1;
      border-radius: 5px;
    }

    label, input, button, svg {
      color: $white-01 !important;
    }
    label { opacity: 0.7; }
    fieldset {
      border: 1px solid $grey-02;
    }
  }


  .MuiSwitch-track {
    background-color: $grey-04;
    opacity: 0.5;
  }

  .MuiSwitch-thumb {
    background-color: $blue-01b;
    // border: 1px solid $blue-02;

  }

  .MuiFormHelperText-root {
    color: $red-03;
    font-style: italic;
  }

  &.cats-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 16px 32px;
    width: 100%;
  }

  &.single-col {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .MuiAutocomplete-root {
    @include flex-center;
    justify-content: flex-start;
  }

  .formControlGroup {
    @include flex-center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
      
    &.checkbox-and-textfield {
      width: 80%;
      min-width: 200px;
      max-width: 350px;
      display: grid;
      grid-template-columns: 150px auto;
      grid-gap: 16px;    
      margin-bottom: 12px;
      border-radius: 5px;
      background-color: $dark-overlay-1;
      border: 1px solid $grey-02;
      padding: 8px 16px;

      &.cats-field {
        width: auto;
        grid-template-columns: 70px auto;
        min-width: unset;
        max-width: unset;

        .mui_checkbox {
          span.Mui-checked svg { color: $blue-03 }
          span svg { color: $grey-04; }
        }
      }
    }

    .mui_checkbox {
        margin: auto !important;
        margin-left: 0 !important;
        text-align: left;
        width: 100%;
        word-wrap: normal;
        display: flex;
        justify-content: space-between;
    }
  }

  .mui_textfield {
    min-width: 120px;
    max-width: 240px;
  }

  .mui_textfield_pts {
      width: 80px !important;
      min-width: unset;
      max-width: unset;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.3s linear;
  }


}



// MUI styles (these are overlaid outside of the form)
ul.MuiList-root, .MuiAutocomplete-popper { // Autocomplete styling doesn't work :(
  border: 1px solid $grey-01;
  color: $white-01 !important;
  background-color: black;
  opacity: 0.88; // rgba doesn't work here for some reason?
}

.MuiRadio-root {
  span {
    // color: red; // This is the highlight colour of the item
    color: $white-01;

    svg:last-child {
      color: $white-01; // inner-circle colour
    }
  }
}

.MuiSelect-select {
  text-align: left;
}

.submit-container {
  margin: 32px auto;
}


// ----------- React-Data-Table Styles ----------- //
// overall table styles
.rdt_Table, .rdt_TableHead, .rdt_TableBody, .rdt_TableHeadRow, .rdt_TableRow, .rdt_Pagination {
  color: $white-01 !important;
  @include dataFont1;
}

.rdt_TableBody {
  input[type=checkbox] {
    accent-color: $blue-02;
    width: 20px;
    height: 20px;
  }

  .psBorder {
    &::after {
      content: "";
      // width: 50%;
      height: 5px;
      background: $blue-02;
      position: absolute;
      bottom: 0px;
      left: 0;
    }

    &.psBorder_90::after {
      width: 90%;
    }
    &.psBorder_80::after {
      width: 80%;
    }
    &.psBorder_70::after {
      width: 70%;
    }
    &.psBorder_60::after {
      width: 60%;
    }
    &.psBorder_50::after {
      width: 50%;
    }
    &.psBorder_40::after {
      width: 40%;
    }
    &.psBorder_30::after {
      width: 30%;
    }
    &.psBorder_20::after {
      width: 20%;
    }
    &.psBorder_10::after {
      width: 10%;
    }
    &.psBorder_05::after {
      width: 3%;
    }

  }
}

.rdt_TableHead, .rdt_TableHeadRow {
  background-color: $grey-02 !important;
}

.rdt_TableHeader {
  background: $dark-overlay-4;
  margin: 0;
  padding: 12px 20px;
  border-radius: 5px 5px 0 0;
  text-align: left;
  font-size: 1rem !important;
  > div:last-child {
    background-color: $grey-04;
    // padding: 12px 20px;
  }
}

.MuiInputLabel-root {
  letter-spacing: -1px;
}

.dataTable {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

// Not working...
::-webkit-scrollbar-track {
  background: $grey-01 !important;
}
::-webkit-scrollbar-thumb {
  background: $dark-overlay-1; 
}

.rdt_TableRow {
  background-color: $grey-01 !important;
}

.rdt_Pagination {
  background-color: $grey-02 !important;

  button {
    color: $white-01;
    fill: $white-01;
  }
}



.playerDataControlMenu {
  @include centerAll;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 95%;  
  max-width: 1500px;

  .form_group_container {
    @include flex-center;
    place-content: flex-start;
    flex-wrap: wrap;
  }

  .mui_select {
    width: 200px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

.ls-request-form-container {
  padding: 32px 40px;
  background-color: $dark-bg;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 100;
  // max-width: 500px;
  // margin: auto;

  .form_group_container {
    flex-direction: column;
  }


  .content {
    width: 60vw;
    max-width: 600px;
    min-width: 350px;
    margin: auto;
    padding: 32px 24px;
    border-radius: 5px;
    background: $dark-overlay-2;
    box-shadow: $shadow02;
  }
}
.ls-request-form {
  @include centerAll;
  color: $white-01;
  padding: 8px 16px 24px;

  .mui_textfield {
    max-width: unset;
    width: 300px;
  }
  
  button {
    width: fit-content;
    height: fit-content;
    margin: 16px auto !important;
  }

  .radioGroup {
    grid-gap: 16px;
    width: 300px !important;
    margin: 16px auto;

    .MuiTypography-root {
      @include bodyFont1;
      font-size: 0.8rem;
      text-align: left;
      line-height: 180%;
    }
  }
}

// VORP cell underline thing... was trying to make it dynamic to the value of the VORP col, but proved too difficult
// #cell-VORP-undefined::after {
//   content: "";
//   width: 80%;
//   height: 3.5px;
//   background: $blue-02;
//   position: absolute;
//   bottom: 0px;
//   left: 0;
// }


// ----------- FAQ Styles ----------- //
section.faq {
  width: 60vw;
  min-width: 300px;
  max-width: 800px;
  margin: 40px auto 80px;

  h3.headingBg {
    margin-top: 70px;
  }
}

.MuiAccordion-root {
  background-color: $blue-01 !important;
  color: $white-01 !important;
  margin-bottom: 2px !important;
}

.MuiCollapse-root {
  background-color: $dark-bg;
  border: 1px solid $blue-01;
  border-top: none;
  border-radius: 0 0 $borderRadius01 $borderRadius01;
}

.MuiAccordionSummary-content {
  @include flex-center;
  text-align: left;
  justify-content: flex-start !important;
  padding: 0 16px !important;

  p {
    margin: 12px 0 !important;
  }
}

.MuiAccordionDetails-root {
  padding-left: 32px !important;
  padding-right: 32px !important;
}


// ----------- Mini Hero Styles ----------- //
.form_group_container.miniHeroForm {
  width: 60vw;
  max-width: 600px;
  min-width: 350px;
  margin: auto;
  padding: 32px 24px;
  @include flex-center-col;
  color: $white-01;
  .mui_textfield {
    max-width: unset;
    width: 300px;
  }
  
  button {
    width: fit-content;
    height: fit-content;
    margin: 16px auto !important;
  }

  .radioGroup {
    grid-gap: 16px;
    width: 300px !important;
    margin: 16px auto;

    .MuiTypography-root {
      @include bodyFont1;
      font-size: 0.8rem;
      text-align: left;
      line-height: 180%;
    }
  }
}

// ----------- Raw Data Styles ----------- //
.rawDataContainer {
  padding: 32px 0;
  background: $dark-overlay-1;

  > section {
    box-shadow: none !important;
    background: unset !important;
    height: 140vh !important;
  }
}

.quickLinkContainer {
  grid-gap: 24px 16px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}


.content_2 {
  @include flex-center-col;
  justify-content: flex-start;
  width: 60vw;
  max-width: 600px;
  min-width: 280px;
  margin: auto;
  margin-bottom: 100px;
  font-size: 0.9rem;
  
  .answer {
    transition: all 0.2s ease-out;

    text-align: left;
    
    p {
      margin: 16px 0;
      font-size: 0.82rem;

      &:first-child {
        margin: 0 0 32px;
        font-size: 1rem;
      }
    }

    ul {
      margin: 8px 0;
      li {
        font-size: 0.82rem;
        margin-bottom: 12px;
      }
    }
    ol li {
      font-size: 0.82rem;
    }
  }
}


// ----------- MOBILE STYLES ----------- //
@media only screen and (max-width: 950px) {
  // ----------- NAV ----------- //


    nav.navbar {
    height: 60px;
    position: fixed;
    // box-shadow: $shadow01;
    // background-color: $dark-overlay-4;

    .navBurger {
      display: grid;
    }  

    ul.nav-menu {
      position: absolute;
      flex-direction: column;
      right: 0;
      top: 0;
      justify-content: flex-start;
      padding: 0 0 60px;
      background: $grey-05;
      color: black;
      height: unset;
      left: unset;
      margin-top: 60px;
      height: calc(100vh - 60px);
      width: 220px;
      z-index: 999;
      // box-shadow: $shadow02;

      transition: all 0.2s ease-out;
      right: -200px;
      opacity: 0;

      &.active {
        right: 0;
        opacity: 1;
      }
    }  

    .nav-item {
      height: 7vh;
      min-height: 80px;
      max-height: 120px;
      justify-content: end;
      // padding: 0 6vw 0 0;
      // width: -webkit-fill-available;
      padding: 0;
      width: inherit;
      
      &:hover {
        color: white;
        background-color: $grey-01;
      }
    }

    .subNav-menu {
      display: flex;
    }

    .subMenu {
      display: none !important;
    }
  }


    // ----------- BUTTONS ----------- //
    .MuiButton-contained,
    .MuiButton-outlined {
      height: 50px !important;
    }

    // ----------- GENERAL ----------- //
    .homeCtaContainer {
      width: 100%;
      max-width: 500px;
    }

    section.faq, 
    section.copySection {
      width: 80vw;
      min-width: unset;
    }


    // ----------- DATA TABLE ----------- //

    .playerDataControlMenu {
      margin: 24px auto 32px;

      .form_group_container {
        place-content: center;
        grid-gap: 24px;
      }

      .mui_select {
        margin: auto;
        width: 70vw;
        min-width: 200px;
        max-width: 500px;
      }
    }

    .rdt_TableHeader {
      div {
        flex: unset;
      }
    }


    // ----------- FAQs TABLE ----------- //
    .MuiAccordion-root {
    }

    // ----------- LeagueSetting MODAL ----------- //
    .MuiBox-root {
      width: 95vw;
    }

    .ls-modal {
      padding: 32px 24px;

      p {
        width: 80%;
        max-width: 300px;
      }

      .form_group_container.cats-container {
        @include flex-center;
        flex-wrap: wrap;
      }

      span.closeBtn {
        position: fixed;
        top: 8vh;
        right: 5.5vw;
      }
    }


}